@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.css);
@charset "UTF-8";
@font-face {
  font-family: "ptsans_bold";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/ptsans_bold/PTS75F-webfont.eot");
  src: url("../fonts/ptsans_bold/PTS75F-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ptsans_bold/PTS75F-webfont.woff") format("woff"), url("../fonts/ptsans_bold/PTS75F-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "ptsans_regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ptsans_regular/PTS55F-webfont.eot");
  src: url("../fonts/ptsans_regular/PTS55F-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ptsans_regular/PTS55F-webfont.woff") format("woff"), url("../fonts/ptsans_regular/PTS55F-webfont.ttf") format("truetype"); }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

::-webkit-input-placeholder {
  color: #5b91d4; }

:-moz-placeholder {
  color: #5b91d4; }

::-moz-placeholder {
  color: #5b91d4; }

:-ms-input-placeholder {
  color: #5b91d4; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.75;
  font-family: "ptsans_regular", sans-serif;
  overflow-x: hidden;
  opacity: 1; }

h1, h2, h3 {
  color: #1c1c1c;
  font-weight: normal; }

h4 {
  margin: 0; }

h2 {
  text-align: center;
  font-size: 38px;
  line-height: 56px; }

p {
  margin: 0;
  line-height: 1; }

b, strong {
  font-family: "ptsans_bold"; }

ul {
  padding-left: 0;
  margin: 0; }

.search-form {
  outline: none;
  width: 215px;
  border: none;
  border-bottom: 1px solid #5b91d4;
  color: #5b91d4;
  line-height: 32px;
  font-size: 18px;
  font-family: "ptsans_regular", sans-serif;
  background: url("../img/search-ico.png") 190px center no-repeat; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

img {
  max-width: 100%; }

.about {
  display: none;
}
.about-home {
  display: block;
}

.container {
  width: 1024px;
  margin: 0 auto;
  position: relative; }

.clearfix:after {
  display: table;
  clear: both;
  content: ''; }

.header-top {
  padding: 50px 0;
  padding-top: 40px; }

.header-logo {
  width: 250px;
  float: left;
  margin-right: 110px; }

.header_center {
  float: left;
  padding-top: 10px;
  text-align: right; }

.header-contact {
  float: right; }

.header-social {
  list-style: none;
  margin: 0;
  margin-top: 25px; }

.social__link {
  float: left; }
  .social__link:last-child a i {
    margin-right: 0; }
  .social__link a i {
    display: block;
    background: url("../img/soc-icons.png") left top no-repeat;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-right: 7px; }
  .social__link a:hover i {
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    background-image: url("../img/soc-icons-hover.png"); }

.social__link_wa a i {
  background: url("../img/soc-icons.png") left top no-repeat; }

.social__link_phone a i {
  background: url("../img/soc-icons.png") -41px top no-repeat; }

.social__link_tw a i {
  background: url("../img/soc-icons.png") -83px top no-repeat; }

.social__link_fb a i {
  background: url("../img/soc-icons.png") -125px top no-repeat; }

.social__link_vk a i {
  background: url("../img/soc-icons.png") -167px top no-repeat; }

.social__link_yt a i {
  background: url("../img/soc-icons.png") -209px top no-repeat; }

.social__link_inst a i {
  background: url("../img/soc-icons.png") -251px top no-repeat; }

.header-menu {
  background: #5b91d4; }
  .header-menu .container {
    position: relative; }

.header-menu__list {
  list-style: none;
  max-width: 945px;
  float: left; }
  .header-menu__list li {
    float: left; }
    .header-menu__list li a {
      color: #ffffff;
      font-size: 16px;
      line-height: 55px;
      display: block;
      text-transform: uppercase;
      text-decoration: none;
      padding-right: 22px;
      padding-left: 22px; }
      .header-menu__list li a:hover {
        background-color: #4b80c2; }
  .header-menu__list li.active a {
    background-color: #4b80c2; }

.header-menu__lang {
  float: right;
  list-style: none;
  background-color: #689dde;
  height: 55px;
  padding: 0 10px; }
  .header-menu__lang li {
    float: left;
    padding-top: 17px;
    margin-right: 10px; }
    .header-menu__lang li:last-child {
      margin-right: 0; }
    .header-menu__lang li a {
      display: block; }

.header-consult {
  position: absolute;
  right: 15px;
  bottom: -52px;
  display: inline-block;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 999;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }
  .header-consult:before {
    display: block;
    content: '';
    background: url("../img/order-btn-sprite.png") 0 0 no-repeat;
    height: 52px;
    width: 27px;
    float: left; }
  .header-consult:hover span {
    background: #f57e27; }
  .header-consult:hover:before {
    background: url("../img/order-btn-sprite.png") left center no-repeat;
    background-position: 0 -52px; }
  .header-consult span {
    display: inline-block;
    background: #f59327;
    line-height: 52px;
    padding: 0 24px; }
    .header-consult span:hover {
      background: #f57e27; }

.header-contact {
  background: url("../img/phone-ico.png") left top no-repeat;
  width: 210px;
  margin-top: 10px; }
  .header-contact .header-contact__phone {
    text-align: right; }
    .header-contact .header-contact__phone:first-child {
      padding-top: 5px;
      margin-bottom: 3px; }
    .header-contact .header-contact__phone a {
      font-size: 20px;
      color: #1c1c1c;
      text-decoration: none; }
      .header-contact .header-contact__phone a span {
        font-family: 'ptsans_bold'; }

.header-contact-phones {
  padding-bottom: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #c9c9c9; }

.header-order-call__btn {
  font-size: 15px;
  font-family: 'ptsans_bold';
  color: #5b91d4;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }
  .header-order-call__btn:hover {
    text-decoration: none;
    color: #689dde; }

.about {
  background: url("../img/about-bg.jpg") top center no-repeat;
  min-height: 389px;
    padding-top: 95px;
    padding-bottom: 25px; }

.about_inner {
  max-width: 550px;
  float: right; }
  .about_inner h1 {
    font-size: 56px;
    color: #1c1c1c;
    font-weight: normal;
    line-height: 56px; }

.about__caption {
  background-color: #5b91d4;
  padding: 25px 40px;
  -webkit-border-radius: 9px;
          border-radius: 9px;
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.5px; }

.about__time {
  background: url("../img/time-bg.png") left top no-repeat;
  padding-left: 80px;
  min-height: 70px;
  margin-top: 30px; }
  .about__time p {
    float: left;
    width: 230px;
    font-size: 20px;
    margin-right: 20px;
    padding-top: 14px; }
    .about__time p strong {
      font-family: "ptsans_bold";
      font-size: 21px; }

.about__order-btn {
  line-height: 58px;
  display: inline-block;
  background: #f59327;
  -webkit-border-radius: 9px;
          border-radius: 9px;
  padding: 0 17px;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  border: none;
  outline: none;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }
  .about__order-btn:hover {
    background-color: #f67f24; }

.spec {
  margin-top: 55px;
  margin-bottom: 55px; }

.spec-table {
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 9px;
          border-radius: 9px; }

.spec-table__disease {
  float: left;
  width: 533px;
  padding: 30px 0;
  border-right: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  height: 210px; }
  .spec-table__disease:nth-child(2n) {
    border-right: none;
    width: 488px; }
    .spec-table__disease:nth-child(2n) .spec-table__disease-content {
      width: 245px;
      float: left; }

.spec-table__disease-img {
  width: 173px;
  float: left;
  margin-right: 30px;
  padding-left: 10px; }

.spec-table__disease-content {
  width: 315px;
  float: left;
  height: 272px;
  font-size: 18px;
  line-height: 24px;
  color: #1c1c1c; }
  .spec-table__disease-content ul {
    padding-left: 15px;
    list-style: none; }
    .spec-table__disease-content ul li {
      position: relative; }
      .spec-table__disease-content ul li:before {
        content: "•";
        position: absolute;
        left: -15px;
        top: 0; }
  .spec-table__disease-content h3 {
    margin: 0;
    font-size: 22px;
    color: #5b91d4;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    margin-bottom: 20px; }
    .spec-table__disease-content h3 a {
      color: #5b91d4; }
      .spec-table__disease-content h3 a:hover {
        text-decoration: none; }

.spec-table__disease-wide {
  width: 100%;
  height: 140px;
  border-bottom: none; }
  .spec-table__disease-wide .spec-table__disease-img {
    width: 270px;
    margin-right: 10px; }
  .spec-table__disease-wide .spec-table__disease-content {
    width: auto; }
  .spec-table__disease-wide .spec-table__disease-wide-content-text {
    width: 390px;
    margin-right: 55px;
    float: left; }
  .spec-table__disease-wide .spec-table__disease-wide-content-btn {
    float: right;
    width: 250px; }

.spec-table__disease-btn {
  display: inline-block;
  line-height: 48px;
  border: 1px solid #5b91d4;
  font-size: 20px;
  color: #5b91d4;
  padding: 0 30px;
  text-decoration: none;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  margin-top: 25px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }
  .spec-table__disease-btn:hover {
    background-color: #5b91d4;
    color: #ffffff; }

.section__goto {
    position: absolute;
    right: 15px;
    top: 0;
    line-height: 62px;
    font-size: 20px;
    color: #878787;
    text-decoration: none;
}
  .section__goto:hover {
    color: #5b91d4; }

.video {
  text-align: center; }

.video-list__item {
  max-width: 500px;
  float: left;
  margin-right: 20px; }
  .video-list__item:nth-child(2n) {
    margin-right: 0; }

.reviews {
  margin-top: 60px;
  margin-bottom: 65px; }

.reviews-block {
  padding: 25px 0;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc; }

.review__item {
  width: 385px;
  float: left;
  padding-right: 32px;
  position: relative;
  padding-left: 53px; }
  .review__item:first-child {
    padding: 0 83px;
    padding-right: 32px; }
    .review__item:first-child:before {
      left: 32px; }
  .review__item:before {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background: url("../img/review-icon.png") left top no-repeat;
    position: absolute;
    left: 0;
    top: 0; }
  .review__item h4 {
    color: #467dc2;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 5px; }
  .review__item p {
    color: #1c1c1c;
    font-size: 20px; }

.review__date {
  font-size: 16px;
  line-height: 37px;
  color: #1c1c1c;
  display: inline-block;
  padding: 0 10px;
  background: #ededed;
  margin-top: 20px; }

.section-row {
  text-align: center;
  margin-top: 40px; }

.section__goto-btn {
  display: inline-block;
  font-size: 20px;
  color: #fff;
  line-height: 58px;
  padding: 0 45px;
  background: #5b91d4;
  text-decoration: none;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }
  .section__goto-btn:hover {
    background-color: #4b80c2; }

.post-return {
      font-size: 16px;
    color: #4e83c3;
    position: relative;
    padding-top: 20px;
    margin-top: 20px;
    display: block;
}

.post-return:before {
  display: block;
  content: '..................................................................................................................................................................................................................................................................................................................';
  font-size: 10px;
  font-family: 'ptsans_bold';
  color: #989898;
  position: absolute;
  letter-spacing: 2px;
  top: -5px;
  overflow: hidden;
  width: 100%;
}

.post-return:hover {
  color: #2f2f2f;
}

.footer-menu {
  background-color: #f0f0f0;
  margin-bottom: 35px; }
  .footer-menu .footer-menu-list {
    list-style: none; }
    .footer-menu .footer-menu-list li {
      float: left; }
      .footer-menu .footer-menu-list li a {
        line-height: 50px;
        font-size: 16px;
        color: #2f2f2f;
        text-decoration: none;
        line-height: 50px;
        display: inline-block;
        text-transform: uppercase;
        padding: 0 20px;
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s; }
        .footer-menu .footer-menu-list li a:hover {
          background: #e9e9e9; }

.footer-order-btn {
  margin-bottom: 20px; }

.footer__contact-online {
  width: 330px;
  float: left;
  margin-right: 75px; }

.footer__contact-form {
  display: block;
  font-family: "ptsans_bold";
  color: #5b91d4;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
  margin-bottom: 30px; }
  .footer__contact-form:hover {
    text-decoration: none; }
  .footer__contact-form:before {
    content: '';
    display: inline-block;
    background: url("../img/foot-contact-form.png") left top no-repeat;
    width: 49px;
    height: 53px;
    float: left;
    margin-right: 13px;
    position: relative;
    top: -6px; }

.footer__contact-email {
  display: block;
  font-size: 15px;
  color: #5b91d4; }
  .footer__contact-email:hover {
    text-decoration: none; }
  .footer__contact-email:before {
    content: '';
    display: inline-block;
    background: url("../img/foot-mail.png") left top no-repeat;
    width: 45px;
    height: 32px;
    float: left;
    position: relative;
    top: -1px;
    margin-right: 15px; }

.footer_middle {
  float: left;
  margin-right: 140px; }

.footer_right {
  float: right; }

.footer-disclaimer {
  margin-top: 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid #cbcbcb;
  margin-bottom: 20px;
  letter-spacing: 2.25px;
  font-size: 16px;
  color: #919090;
  text-transform: uppercase;
  text-align: center; }

.footer__copyright {
  float: left;
  font-size: 14px;
  color: #919191;
  line-height: 1.2; }

.footer-social {
  float: right;
  margin-top: 0; }

.footer-bottom {
  margin-bottom: 10px; }

.breadcrumbs li {
  display: inline-block;
  color: #4f4f4f;
  line-height: 52px;
  font-size: 15px; }
  .breadcrumbs li:after {
    content: '';
    display: inline-block;
    background: url("../img/breadcrumbs-ico.png");
    width: 13px;
    height: 5px;
    margin: 0 10px;
    margin-right: 5px;
    position: relative;
    top: -2px; }
  .breadcrumbs li:last-child:after {
    display: none; }
  .breadcrumbs li a {
    font-size: 15px;
    color: #989898; }
    .breadcrumbs li a:hover {
      text-decoration: none; }

.sidebar {
  width: 285px;
  float: left;
  margin-right: 62px;
  margin-top: 30px; }


.sidebar-block .about__time {
  padding-left: 85px; }
  .sidebar-block .about__time p {
    width: auto;
    font-size: 19px;
    margin-right: 0;
    letter-spacing: -0.5px;
    padding-top: 5px; }
    .sidebar-block .about__time p strong {
      font-size: 19px; }

.sidebar-block .blue-btn {
  width: 100%;
  line-height: 50px;
  text-align: center;
  background-color: #5b91d4;
  margin-top: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .sidebar-block .blue-btn:hover {
    background: #4b80c4; }

.sidebar-menu {
  background-color: #5b91d4;
  list-style: none;
  border: 1px solid #5b91d4;
  -webkit-border-radius: 4px;
          border-radius: 4px;}
  .sidebar-menu li:first-child {
    margin-top: 10px; }
    .sidebar-menu li:first-child a {
      -webkit-border-top-left-radius: 4px;
              border-top-left-radius: 4px;
      -webkit-border-top-right-radius: 4px;
              border-top-right-radius: 4px; }
  .sidebar-menu li:last-child a {
    border-bottom: 0; }
  .sidebar-menu li a {
    display: block;
    line-height: 50px;
    padding: 0 20px;
    background-color: #ffffff;
    color: #3368a8;
    font-size: 16px;
    text-decoration: none;
    border-bottom: 1px solid #5b91d4;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
    .sidebar-menu li a:hover {
      color: #1b1b1b;
      background-color: #f5f5f5; }
  .sidebar-menu li.active > a {
    color: #1b1b1b;
    background-color: #f5f5f5; }
  .sidebar-menu li.active {
    position: relative; }
  .sidebar-menu li.active.active-dropdown:after {
    position: absolute;
    content: '';
    top: 50px;
    left: 32px;
    background: url("../img/sidebar-menu-active-arrow.png") left top no-repeat;
    width: 38px;
    height: 8px; }

.sidebar-menu li:last-of-type a {
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px; }

.sidebar-consult {
  margin-bottom: 20px; }
  .sidebar-consult a {
    display: block;
    line-height: 110px;
    font-family: 'ptsans_bold';
    color: #5b91d6;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    padding-left: 90px;
    background: #f7f7f7;
    border: 1px solid #d6d6d6;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
    .sidebar-consult a:hover {
      border: 1px solid #bad6f7;
      background: #e2efff; }
    .sidebar-consult a:before {
      content: '';
      position: absolute;
      top: 20px;
      left: 10px;
      display: block;
      background: url("../img/online-consult.png") left top no-repeat;
      width: 72px;
      height: 72px; }

.content {
  width: 660px;
  float: right;
  margin-top: 20px;
  margin-bottom: 40px; }
  .content h1 {
    margin: 0;
    font-size: 38px;
    line-height: 1.2;
    margin-bottom: 15px; }
  .content p {
    line-height: 26px;
    font-size: 18px;
    color: #363636;
    margin-bottom: 20px; }
  .content h3 {
    color: #5b91d4;
    font-size: 20px;
    font-family: 'ptsans_bold';
    margin-top: 35px;
    margin-bottom: 5px; }

.contact-page h1 {
  margin-bottom: 40px;
}
.blog-post {
  margin-bottom: 50px; }

.thumb {
  float: left;
  width: 220px;
  margin-right: 20px;
  min-height: 230px; }

.post-content {
  line-height: 24px;
  font-size: 18px;
  color: #363636; }
  .post-content h3 {
    margin: 0;
    line-height: 1.2;
    margin-bottom: 15px; }
    .post-content h3 a {
      font-size: 20px;
      font-family: 'ptsans_bold';
      color: #4479ba; }
      .post-content h3 a:hover {
        text-decoration: none; }

.more {
  position: relative; }
  .more:after {
    content: '..................................................';
    font-size: 10px;
    font-family: 'ptsans_bold';
    color: #989898;
    position: absolute;
    letter-spacing: 2px;
    right: -250px; }

.pagination {
  text-align: center; }
  .pagination li {
    vertical-align: middle;
    margin-right: 5px;
    display: inline-block;
    line-height: 12px!important; }
    .pagination li:last-child {
      margin-right: 0; }

    .pagination li.active a {
        font-family: 'ptsans_regular';
        color: #666666;
        cursor: text;
        background: #efefef;
        border: 1px solid #d6d6d6;
    }

    .pagination li a {
        color: #5b91d4;
        font-size: 16px;
        text-decoration: none;
        display: inline-block;
        width: 31px;
        text-align: center;
        line-height: 31px;
        height: 31px;
        background: #ffffff;
        border-radius: 4px;
        border: 1px solid #5b91d4;
        font-family: 'ptsans_regular';
      }

.page-prev a, .page-next a {
  display: inline-block;
  border: 1px solid #5b91d4;
  height: 31px;
  width: 31px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  position: relative; }
  .pagination li a:hover {
    background-color: #5b91d4;
    color: #fff; }
    .pagination li.active a:hover {
      background: #fff;
      color: #2f2f2f;
    }
    .page-prev a:hover:before, .page-next a:hover:before {
      background: url("../img/next-hover.png") left top no-repeat; }
  .page-prev a:before, .page-next a:before {
    content: '';
    display: block;
    background: url("../img/prev.jpg") left top no-repeat;
    width: 8px;
    height: 13px;
    position: absolute;
    left: 11px;
    top: 9px; }

.page-next a:before {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.page-next a:hover:before {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg); }

.page-prev a:hover:before {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.blog-post-content figure {
  margin: 0;
  margin-top: 30px; }

.blog-post-content figcaption {
  color: #577293;
  font-size: 18px;
  text-align: center;
  background: url("../img/img-caption.png") center top no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  min-height: 42px;
  padding-top: 16px; }

.return-outer:after {
  content: '';
  display: block;
  background: url("../img/post-sep.png");
  height: 1px;
  margin-top: 50px;
  margin-bottom: 20px; }

.post-return img {
  position: relative;
  top: -1px;
  margin-right: 10px; }

.social-block:before {
  content: '';
  display: block;
  background: url("../img/post-sep.png");
  height: 1px;
  margin-top: 50px;
  margin-bottom: 30px; }

.sidebar-block h3 {
  font-family: 'ptsans_bold';
  color: #1c1c1c;
  font-size: 19px;
  letter-spacing: -0.01px;
  margin: 0;
  margin-bottom: 20px; }

.similar-block {
  margin-top: 50px; }

.similar {
  list-style: none; }
  .similar li {
    line-height: 1.4;
    margin-bottom: 10px; }
    .similar li a {
      font-size: 16px;
      color: #4e83c3;
      -webkit-transition: all .2s;
      -o-transition: all .2s;
      transition: all .2s; }
      .similar li a:hover {
        color: #2f2f2f; }

.examples-block {
  border-top: 1px solid #cccccc;
  padding-top: 25px;
  margin-top: 25px; }

.example-img {
  margin-top: 25px; }

.example-item {
  margin-bottom: 55px; }

  .example-number {
      display: inline-block;
      padding: 0 35px;
      line-height: 45px;
      font-size: 18px;
      color: #666;
      border: 1px solid #d6d6d6;
      background-color: #efefef;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      margin-right: 25px;
  }

.example-caption p {
  display: inline-block;
  width: 475px;
  vertical-align: top;
  line-height: 26px;
  padding-top: 10px; }
  .example-caption p b {
    font-family: 'ptsans_bold';
    font-size: 18px;
    color: #363636; }

.example-img {
  background: #f3f3f3;
  padding: 30px 25px;
  padding-bottom: 10px;
  border: 1px solid #e8e8e8; }

.example-img-item {
  width: 280px;
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
  text-align: right;
  margin-bottom: 20px;
  font-size: 16px;
  color: #363636;
  line-height: 18px; }
  .example-img-item:nth-child(2n) {
    margin-right: 0;
    text-align: left; }

figure {
  margin: 0; }

.sidebar-menu__dropdown {
  background: #5b91d4;
  border-top: none;
  list-style: none;
  padding: 20px 0;
  -webkit-box-shadow: inset 0px 9px 17px -10px rgba(0, 0, 0, 0.31);
  box-shadow: inset 0px 9px 17px -10px rgba(0, 0, 0, 0.31); }
  .sidebar-menu__dropdown li {
    position: relative; }
    .sidebar-menu__dropdown li:first-child {
      margin-top: 0; }
    .sidebar-menu__dropdown li:before {
      content: '';
      position: absolute;
      background: url("../img/sidebar-menu-dropdown-marker.png") left top no-repeat;
      width: 3px;
      height: 3px;
      top: 19px;
      margin-left: 20px; }
    .sidebar-menu__dropdown li a {
      background: #5b91d4;
      line-height: 42px;
      color: #fff;
      padding-left: 35px; }
      .sidebar-menu__dropdown li a:hover {
        background-color: #4b80c4;
        color: #fff; }

.nav {
  float: left;
  position: relative;
  z-index: 9999; }
  .nav ul {
    list-style: none; }
  .nav a {
    display: block;
    cursor: pointer; }

.nav__menu-item {
  display: inline-block;
  position: relative; }
  .nav__menu-item:hover {
    background: #4b80c2; }
    .nav__menu-item:hover .nav__submenu {
      display: block; }

.nav__submenu {
  text-transform: none;
  display: none;
  position: absolute;
  width: 290px;
  background-color: #4b80c2;
  padding-top: 15px;
  -webkit-box-shadow: inset 0px 9px 17px -10px rgba(0, 0, 0, 0.31);
  box-shadow: inset 0px 9px 17px -10px rgba(0, 0, 0, 0.31); }
  .nav__submenu:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    background: url("img/dropdown-before.png") center top no-repeat;
    width: 100%;
    height: 9px;
    z-index: 99999; }
  .nav__submenu li {
    width: 100%; }
  .nav__submenu a {
    font-size: 18px !important;
    text-transform: initial !important;
    width: 100% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    line-height: 40px !important; }
    .nav__submenu a:hover {
      background-color: #5b91d4 !important; }

.content {
  font-size: 18px; }
  .content ul {
    list-style: none;
    margin-bottom: 20px; }
    .content ul li {
        position: relative;
        padding-left: 20px;
        color: #363636;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 15px;
    }
      .content ul li:before {
        content: '';
        display: block;
        position: absolute;
        background: url("../img/list-marker.png") left top no-repeat;
        width: 7px;
        height: 7px;
        left: 0;
        top: 11px; }

.diagnostics-list {
  margin-left: 30px; }

.pagination li, .ya-share2__list li {
  padding-left: 0 !important; }
  .pagination li:before, .ya-share2__list li:before {
    display: none !important; }

.alignleft {
  float: left; }

.post-content p {
  margin-bottom: 0; }

  .news-date {
      -webkit-border-radius: 8px;
      border-radius: 8px;
      line-height: 38px;
      background: #efefef;
      color: #666666;
      border: none;
      padding: 0 10px;
      border: 1px solid #d6d6d6;
      font-size: 16px;
  }
  .news-date:hover {
    background: #efefef;
    color: #666666; }
  .news-date:after {
    content: '............................................................................................................';
    right: 0;
    left: 125px; }

.news-post h3 a {
  color: #4479ba;
  font-family: "ptsans_regular", sans-serif;
  font-size: 20px; }
  .news-post h3 a:hover {
    color: #1c1c1c;
    text-decoration: underline; }

.news-post p {
  display: inline; }

.content {
  position: relative; }

.news-post-date {
  -webkit-border-radius: 8px;
          border-radius: 8px;
  line-height: 38px;
  background: #efefef;
  color: #666666;
  border: none;
  padding: 0 10px;
  font-size: 16px;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 0;
  border: 1px solid #d6d6d6; }

.ya-share2__icon {
  vertical-align: middle !important; }

figure img {
  vertical-align: top; }

.diagnostics-imgs {
  padding: 50px 0; }
  .diagnostics-imgs figure {
    text-align: center;
    font-size: 0; }
    .diagnostics-imgs figure img {
      margin-right: 14px; }
      .diagnostics-imgs figure img:last-child {
        margin-right: 0; }

table {
  border-spacing: 0;
  width: 100%;
  text-align: center;
  border: 1px solid #e2e2e2;
  border-right: none;
  border-bottom: none;
  margin-bottom: 50px; }
  table tr {
    margin: 0; }
  table th {
    background-color: #5b91d4;
    font-family: 'ptsans_bold';
    font-size: 18px;
    color: #fff;
    border-right: 1px solid #e2e2e2;
    padding: 10px 0; }
    table th:nth-child(3n) {
      border-right: 1px solid #5b91d4; }
    table th:first-child {
      border-left: 1px solid #5b91d4; }
  table td {
    background: #f8f8f8;
    color: #727272;
    font-size: 16px;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    margin: 0;
    padding: 15px 40px;
    line-height: 1.2; }

.video-post-item {
  width: 317px;
  float: left;
  margin-right: 25px;
  margin-bottom: 35px; }
  .video-post-item:nth-child(2n) {
    margin-right: 0; }
  .video-post-item a {
    font-size: 18px;
    color: #1c1c1c;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
    .video-post-item a:hover {
      color: #5b91d4; }

.review-post b {
  color: #666666;
  font-size: 16px;
  padding-left: 10px; }

.review-post .news-date:after {
  content: '......................................................................';
  left: 320px; }

.review-heading {
  width: 100%;
  line-height: 52px;
  background: url("../img/form-heading-icon.png") 15px center no-repeat;
  background-color: #4e83c3;
  text-align: center;
  color: #fff !important;
  font-family: "ptsans_regular", sans-serif !important;
  font-weight: normal !important;
  font-size: 20px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  margin-bottom: 10px !important; }

.review-form {
  margin-bottom: 80px; }
  #theme {
    height: 47px;
    padding-left: 15px;
  }
  .review-form input, select, .review-form textarea {
    width: 100%;
    line-height: 43px;
    border: 1px solid #b5b5b5;
    padding-left: 9px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background: #f6f6f6;
    outline: none;
    font-size: 16px;
    color: #828282;
    margin-bottom: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .review-form input::-webkit-input-placeholder, .review-form textarea::-webkit-input-placeholder {
      color: #828282; }
    .review-form input::-moz-placeholder, .review-form textarea::-moz-placeholder {
      color: #828282; }
    .review-form input:-moz-placeholder, .review-form textarea:-moz-placeholder {
      color: #828282; }
    .review-form input:-ms-input-placeholder, .review-form textarea:-ms-input-placeholder {
      color: #828282; }
  .review-form textarea {
    line-height: 1.2;
    height: 135px;
    resize: none;
    padding-top: 10px;
    margin-bottom: -3px; }
  .review-form input[type="submit"] {
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin-top: 30px;
    border: none; 
    background: #5b91d4;}

  .review-form input[type="submit"]:hover {
    background: #4e83c3;
  }

.file-upload {
  position: relative;
  overflow: hidden;
  height: 45px;
  background: #f6f6f6;
  color: #828282;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  margin-bottom: 5px;
  border: 1px solid #b5b5b5;
  label-display: block;
  label-position: absolute;
  label-top: 0;
  label-left: 0;
  label-width: 100%;
  label-height: 100%;
  label-cursor: pointer; }
  .file-upload:hover label:after {
    background-color: #4b80c2; }
  .file-upload input[type="file"] {
    display: none; }
  .file-upload span {
    line-height: 45px;
    padding-left: 10px; }
  .file-upload label:after {
    content: '';
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    background: url("../img/file-icon.png") center center no-repeat #5b91d4;
    width: 80px;
    height: 45px;
    display: block;
    position: absolute;
    right: 0;
    cursor: pointer;
    top: 0;
    -webkit-border-radius: 4px;
            border-radius: 4px; }

.without-sidebar {
  width: 100%;
  float: none; }
  .without-sidebar h1 {
    text-align: center; }

.contact-map {
  margin-right: 40px; }

.contact-content {
  position: relative; }
  .contact-content h3 {
    margin-top: 0;
    line-height: 1;
    margin-bottom: 30px; }

.contact-secretary {
  padding: 20px 0;
  padding-top: 15px;
  position: absolute;
  bottom: 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }
  .contact-secretary .secretary-item {
    float: left;
    width: 255px; }
    .contact-secretary .secretary-item h3, .contact-secretary .secretary-item p {
      line-height: 1.7;
      margin: 0; }

.contact-page h2 {
  font-size: 28px;
  color: #4e83c3;
  line-height: 1.2;
  margin-bottom: 50px; }

.contact-clinic {
  margin-bottom: 30px; }
  .contact-clinic div {
    display: inline-block;
    vertical-align: top;
    line-height: 1.5; }
  .contact-clinic .clinic-addr {
    width: 460px; }
  .contact-clinic .clinic-phone {
    width: 260px; }
  .contact-clinic:after {
    content: '.............................................................................................................................................................................................................';
    display: block;
    font-family: "ptsans_regular", sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    color: #989898;
    margin-top: 20px;
    overflow: hidden; }

p.transport {
  line-height: 28px;
  margin-bottom: 50px; }
  p.transport span {
    line-height: 30px; }

.corp, .danger-msg {
  display: inline-block;
  vertical-align: top; }

p.corp {
  width: 445px;
  line-height: 30px;
  font-size: 18px; }

.danger-msg {
  width: 360px;
  background: url("../img/danger.png") 15px 25px no-repeat #eeeeee;
  padding: 15px 70px;
  line-height: 26px;
  font-size: 18px;
  padding-right: 35px;
  -webkit-border-radius: 3px;
          border-radius: 3px; }

.centre p {
  line-height: 30px;
  margin-bottom: 30px; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .container {
    width: auto;
      max-width: 1024px;
      margin: 0 auto;
      position: relative;
  }
  .header-logo {
      width: 30%;
      float: left;
      margin-right: 40px;
  }
  .header_center {
      margin-right: 20px;
  }

  /**/ }

@media only screen and (max-width: 1040px) {
  .return-outer:after {
    margin-top: 0;
    margin-bottom: 0;
  }
  .video-post-item {
      width: 45%;
      box-sizing: border-box;
      float: left;
      margin-right: 25px;
      margin-bottom: 35px;
      max-width: 325px;
  }
  .video-post-item img {
      display: block;
      margin-bottom: 15px;
  }
  .blog-post-content {
    margin-bottom: 50px;
  }
  .blog-post-content figure {
    text-align: center;
  }
  .blog-post-content figcaption {
    background: #e2efff;
    border: 1px solid #c5d3e3;
    border-radius: 5px;
    margin-top: 15px;
    padding-bottom: 15px;
    min-height: 0;
  }
  .similar-video-block {
      margin-top: 50px;
      text-align: center;
  }
  .similar-video li {
      line-height: 1.4;
      margin-bottom: 10px;
      display: inline-block;
      margin-right: 15px;
  }
  .similar-video li:nth-child(2n) {
    margin-right: 0;
  }
  .sidebar-video {
    margin-bottom: 30px;
  }
  .contact-secretary {
    position: static;
  }
  .spec h2 {
    margin-bottom: 0;
  }
  .spec-table {
      border: none;
    }
    .spec-table__disease {
        float: none;
        max-width: 533px;
        width: auto;
        padding: 30px 0;
        border-right: none;
        border-bottom: 1px solid #d5d5d5;
        height: auto;
        margin: 0 auto;
    }
    .spec-table__disease:nth-child(2n) {
      width: auto;
    }
    .spec-table__disease-content {
      height: auto;
    }
    .spec-table__disease-wide .spec-table__disease-img {
        width: 173px;
        margin-right: 30px;
        /* text-align: center; */
        /* padding-left: 0; */
        float: left;
        display: block;
    }
    .spec-table__disease-wide .spec-table__disease-content {
        width: 245px;
    }
    .spec-table__disease-wide .spec-table__disease-wide-content-text {
      width: auto;
      margin-right: 0;
      float: none;
    }
    .video-list__item {
      margin: 0 auto;
      float: none;
    }
    .video-list__item:nth-child(2n) {
      margin: 0 auto;
    }
    .section__goto {
      position: static;
      text-align: center;
      display: block;
    }
    .video h2, .reviews h2 {
      margin: 0.3em 0;
    }
    .footer-menu .footer-menu-list li a {
      padding: 0 15px;
    }
    .breadcrumbs {
        margin-left: 15px;
    }

    .sidebar {
      width: auto;
      float: none;
      margin-right: 0;
      margin-left: 15px;
      margin-right: 15px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    .sidebar-menu {
      margin-bottom: 20px;
    }

    .content {
      width: auto;
      float: none;
      margin-left: 15px;
      margin-right: 15px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
}

@media screen and (max-width: 1010px) {
  .contact-map {
    margin-right: 0;
    float: none;
    width: 100%;
    margin-bottom: 15px;
  }
  .contact-map iframe {
    width: 100%;
  }
  .contact-content .alignleft {
    float: none;
  }
}


/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .review__item:first-child {
      padding-left: 53px;
      padding-right: 5px;
      margin-bottom: 20px;
  }
  .review__item:first-child:before {
      left: 0;
  }
  .review__item {
    padding-right: 5px;
    float: none;
    margin: 0 auto;
  }
  .footer__contact-online {
    margin-right: 50px;
  }
  .footer_middle {
    margin-right: 30px;
  }
  /**/ }

@media only screen and (max-width: 950px) {
  .header-menu__list li a {
    padding: 0 11px;
  }
  .footer__contact-online {
      margin-right: 0;
  }
}

@media only screen and (max-width: 930px) {
  .footer-menu .footer-menu-list li a {
    padding: 0 6px;
    border-right: 1px solid #efefef;
  }
}


  nav a.openup {
    display: none;
  }
.resp-time {
  display: none;
}
.resp-search {
  display: none;
}
.resp-img {
  display: none;
}
.header-phone-ico {
  display: none;
}
.resp-logo {
  display: none;
}
.resp-header-consult {
  display: none;
}
@media only screen and (max-width: 830px) {
  .content {
    margin-top: 0;
  }
  .cf-header {
    min-height: 55px;
  }
  .desktop-logo {
    display: none;
  }
  .about {
    display: block;
  }
  .example-img-item {
    width: 100%!important;
    margin-left: 0!important;
    margin-right: 0!important;
    text-align: center!important;
  }
  .resp-logo {
    display: block;
  }
  .header-logo {
    max-height: 250px;
  }
  .header-logo img {
    max-height: 250px
  }
  .resp-img {
    display: block;
    max-height: 350px;
    text-align: center;
  }
  .resp-img img {
    max-height: 350px;
  }
  .resp-order-btn {
    margin-top: 50px;
  }
  .desktop-header-consult {
    display: none;
  }
  .header-top .container {
    max-width: 670px;
  }
/*  .resp-header-consult {
    display: block;
    position: static;
  }*/
/*  .header-logo {
      width: auto;
      float: left;
      margin-left: 20px;
      margin-right: 10px;
  }
  .header_center {
      float: right;
      width: auto;
      margin-right: 20px;
  }
  .header-contact {
      float: none;
      clear: both;
      margin: 0 auto;
  }
  .header-menu__list li a {
    padding: 0 6px;
  }
  .footer__contact-online {
      margin-right: 0;
      margin-left: 50px;
  }
  .header-contact.footer_middle {
      float: right;
      clear: none;
      margin-right: 50px;
  }
  .footer_right {
      float: none;
      width: 218px;
      margin: 0 auto;
      clear: both;
      padding-top: 30px;
  }*/
  .footer__contact-online {
    width: 100%;
  }
  .footer__contact-online:after {
    display: table;
    clear: both;
    content: '';
  }
  .footer_right {
    display: none;
  }
  .footer__contact-form {
    float: left;
  }
  .footer__contact-email {
    float: right;
  }
  .footer-menu {
    display: none;
  }
  .footer-disclaimer {
    margin-top: 0;
  }
  .footer {
    padding: 0 15px;
    background: #efefef;
    padding-top: 50px;
  }
.cf {
  display: none;
}
.openup {
  position: fixed!important;
  top: 0;
  left: 0;
  background: #5b91d4;
}
.header-phone-ico {
  display: block;
  position: fixed;
      top: 0;
      right: 103px;
      line-height: 55px;
      width: 55px;
      text-align: center;
      height: 55px;
      font-size: 1.5em;
      color: #fff;
      z-index: 99999;
}
.nav__menu {
  margin-top: 55px;
}
.search-form {
  background: url("../img/search-ico.png") 95% center no-repeat;
  background-color: #fff;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  padding-left: 21px;
}
.header_center, .header-contact {
  display: none;
}
.header-logo {
    width: 50%;
    float: left;
    margin-right: 0;
    margin-left: 14px;
    margin-top: 30px;
    }
    .header-top {
      padding-bottom: 0;
    }
    .openup>span {
      float: left;
      font-size: 17px;
      text-align: left;
    }
    .openup>span br {
      display: none;
    }
    .about__time {
      display: none;
    }
    .about_inner h1 {
      display: none;
    }
.about_inner {
    max-width: 100%!important;
    margin: 0 15px!important;
}
.about {
  min-height: 0!important;
  padding-bottom: 0;
}
.spec {
  margin-top: 0;
}
/*.about__caption {
  border-radius: 0;
}*/
.resp-time {
  display: block;
  float: right;
    margin-top: 50px;
    margin-right: 22px;
    font-size: 1.3em;
}
  .cf-header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%!important;
    background: #5b91d4;
    z-index: 9995;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .header-menu__lang {
    position: fixed;
    top: 0;
    right: 60px;
    z-index: 9999;
  }
  .header-consult, .header-consult span {
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  .openup {
    text-align: right;
    border-bottom: 2px solid #5587c3;
  }
  .resp-search {
    display: block;
  }
  .header-consult:before {
    display: none;
  }
  .nav__menu-item:hover {
    background: transparent;
  }

  .breadcrumbs {
      margin-left: 15px;
      margin-top: 0px;
  }

    nav {
      height: auto;
      border-bottom: 0;
    }
    nav ul {
      display: none;
      height: auto;
    }
    nav li {
      width: 100%;
      float: left;
      position: relative;
    }
    nav a {
      text-align: left;
      width: 100%;
    }
    nav a:hover {
    }
/*    nav a.openup:after {
      content: "|||";
      transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      /* IE 9 /
      -webkit-transform: rotate(-90deg);
      /* Safari and Chrome /
      width: 30px;
      height: 30px;
      display: inline-block;
      position: absolute;
      right: 5px;
      top: ßpx;
    }*/
    .nav__submenu {
        position: static;
        padding-top: 0;
        margin-left: 15px;
        background: transparent;
        box-shadow: none;
    }
    .header-menu__list li a {
      padding: 0 22px;
    }
    nav a.openup {
      display: block;
      float: left;
      position: relative;
      color: #ffffff;
      font-size: 20px;
      line-height: 55px;
      display: block;
      /*text-transform: uppercase;*/
      text-decoration: none;
      padding-right: 15px;
      padding-left: 15px;
      box-sizing: border-box;
      z-index: 99999;
    }
    nav a.openup.dark {
      color: #2f2f2f;
    }
    nav.full-width {
          width: 100%!important;
    }
  .cf:before, .cf:after {
    content: "";
    display: table;
  }

  .cf:after {
    clear: both;
  }

  nav.cf {
    zoom: 1;
    float: left;
    width: 70%;
  }
  .about {
      background: #FFF;
      min-height: 414px;
      padding-top: 0;
  }
  .about_inner {
      max-width: 550px;
      float: none;
      margin: 0 auto;
  }
  .about_inner h1 {
    margin-top: 0.3em;
    padding-left: 15px;
  }

  /**/ }

@media only screen and (max-width: 680px) {
  .more:after {
    display: none;
  }
  .example-number {
    margin-bottom: 15px;
  }
  .example-item {
    margin-bottom: 30px;
  }
  .example-caption p {
    width: auto;
  }
}

@media only screen and (max-width: 645px) {
  .header-contact.footer_middle {
    margin-right: 22px;

    margin-top: 0;

  }
/*  .footer__contact-online {
    margin-left: 22px;
    width: 245px;
  }*/
}

@media only screen and (max-width: 610px) {
  .footer__copyright {
      float: none;
      text-align: center;
      margin-bottom: 20px;
    }
    .footer-social {
        float: none;
        width: 287px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 590px) {
  
  .openup>span {
    line-height: 1.3;
    position: relative;
    top: 4px;
  }
  .openup>span br {
    display: block;
  }
/*  .header-top {
    padding-top: 20px;
  }*/

 /* .about__order-btn {
    margin-top: 10px;
  }*/
.spec-table__disease-wide .spec-table__disease-wide-content-btn {
    float: none;
    width: auto;
}
.spec-table__disease-wide .spec-table__disease-img {
  width: 30%;
}
 
  .header_center {
    width: 288px;
    float: none;
    margin: 0 auto;
  }
  .header-contact {
    margin-top: 25px;
  }
  .about__time {
    width: 230px;
    margin: 0 auto;
    margin-top: 30px;
  }
  .spec-table__disease-content {
      height: auto;
      width: 60%!important;
      box-sizing: border-box;
  }
  .spec-table__disease-img {
      width: 30%;
      float: left;
      margin-right: 30px;
      padding-left: 10px;
      box-sizing: border-box;
  }
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 550px) {
  iframe {
    width: 100%;
  }
.pagination {
  float: none;
}
  .thumb {
      float: none;
      width: auto;
    }
    /*.header-logo {
      margin: 0 auto;
      max-width: 247px;
      margin-top: 50px;
      float: none;
    }
    .resp-time {
      float: none;
      text-align: center;
      margin-right: 0;
      margin-top: 10px;
    }
    .resp-order-btn {
      margin-top: 10px;
      margin-bottom: 20px;
    }
    .header-top {
      padding-top: 10px;
    }*/
    .header-logo {
      width: 45%;
      box-sizing: border-box;
    }
    .resp-time {
      width: 45%;
      box-sizing: border-box;
      font-size: 1.1em;
      text-align: right;
    }
    .resp-time .resp-order-btn {
      font-size: 17px;
      line-height: 50px;
    }
}
}

@media only screen and (max-width: 515px) {
  .header-contact.footer_middle {
      margin: 0 auto;
      float: none;
      margin-top: 30px;
  }
  .footer__contact-online {
      margin: 0 auto;
      width: 234px;
      float: none;
  }
  .footer__contact-email, .footer__contact-form {
    float: none;
  }
  .footer__contact-online {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .danger-msg {
    width: 100%;
    box-sizing: border-box;
  }
  .contact-clinic .clinic-addr {
    width: 100%;
    margin-bottom: 5px;
  }
  p.corp {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .review__item {
      width: auto;
      margin-left: 5px;
    }
    .resp-time {
      font-size: 1.1em;
    }
    .resp-time .resp-order-btn {
      font-size: 15px;
      line-height: 45px;
      margin-top: 15px;
    }
    .header-logo {
      width: 40%;
    }
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 450px) {
  .footer__contact-form {
      float: none;
      width: 235px;
      margin: 0 auto;
  }
  .footer__contact-email {
      float: none;
      width: 225px;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 20px;
  }

  .video-post-item {
    width: 100%;
  }
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 400px) {
  .resp-time {
    width: 55%;
  }
  .header-logo {
         width: 35%;
    padding-top: 15px;
  }
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .divWrap {
    overflow-x: scroll;
    width: 100%;
  }
  .news-post-date {
    position: static;
    margin-bottom: 20px;
  }
  /**/ }

@media only screen and (max-width: 700px) {
  .diagnostics-list {
    float: none;
    margin-left: 0;
    padding-top: 15px;
    clear: both;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1040px) {
  .sidebar-menu {
    display: none;
  }
  .about__time {
    display: none;
  }
  .sidebar-consult-block {
    display: none;
  }
  .sidebar {
    margin-bottom: 30px;
  }

}

@media only screen and (min-width: 830px) {
  .container {
    padding: 0 15px;
  }
  .spec .container {
    padding: 0px 8px;
  }
  .video .container {
    padding: 0 10px;
  }
  .video .container .section__goto {
    right: 10px;
  }
}

@media only screen and (min-width: 1040px) {
  .blog-post-content {
    float: right;
  }
  /**/ }

.sidebar-block {
  margin-bottom: 30px;
}
  .footer {
      padding-bottom: 30px;
  }

  .sidebar-menu_visible {
    display: block;
  }

  .similar li:before {
    display: none;
}

.similar-video li {
    width: 300px;
    margin-right: 15px;
    display: inline-block;
    padding-left: 0!important;
}

.similar-video li:before {
  display: none!important;
}

@media screen and (max-width: 1040px) {
  .similar-video li {
    width: 200px;
  }
  
  .return-outer {
    display: none;
  }

  .sidebar-review-block {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 831px) {
  .nav__submenu {
    display: none;
  }
}

#order {
  padding: 0;
  border-radius: 8px;
}

.order-form-outer {
  max-width: 500px;
  padding: 0 50px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 30px;
}

.required {
  line-height: 55px!important;
  max-width: 60%;
}

.order-form-outer input[type="text"] {
  width: 100%;
  border: 1px solid #c3c3c3;
  border-radius: 8px;
  line-height: 55px;
  font-size: 20px;
  color: #757575;
  outline: none;
  padding-left: 10px;
  margin-bottom: 10px;
}

.order-form-outer input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  line-height: 55px;
  font-size: 20px;
  color: #757575;
  font-weight: normal!important;
  font-family: 'PT Sans';
}
.order-form-outer input[type="text"]::-moz-placeholder { /* Firefox 19+ */
  line-height: 55px;
  font-size: 20px;
  color: #757575;
  font-weight: normal!important;
  font-family: 'PT Sans';
}
.order-form-outer input[type="text"]:-ms-input-placeholder { /* IE 10+ */
  line-height: 55px;
  font-size: 20px;
  color: #757575;
  font-weight: normal!important;
  font-family: 'PT Sans';
}
.order-form-outer input[type="text"]:-moz-placeholder { /* Firefox 18- */
  line-height: 55px;
  font-size: 20px;
  color: #757575;
  font-weight: normal!important;
  font-family: 'PT Sans';
}

.order-heading {
  background: #5b91d4;
  line-height: 60px;
  font-size: 22px;
  font-family: 'PT Sans';
  color: #fff;
  width: 100%;
  text-align: center;
}

.required, .confirm {
  display: inline-block;
  font-family: 'PT Sans';
  font-weight: 200;
  color: #757575;
  letter-spacing: -0.4px;
  line-height: 1.3;
  font-size: 16px;
}

.required span {
  color: #5b91d4;
  font-size: 20px;
}

.order-submit {
  display: inline-block;
  float: right;
  max-width: 30%;
}

.order-submit a {
  font-family: 'PT Sans';
  font-weight: normal;
  line-height: 48px;
  margin-top: 5px;
  font-size: 20px;
  letter-spacing: -.4px;
}

.order-submit-outer {
  margin-top: 10px;
}

.confirm {
  padding-top: 5px;
  font-size: 16px;
  text-align: justify;
}

.confirm input[type="checkbox"] {
  position: relative;
  top: -2px;
  outline: none;
  margin-right: 2px;
}

.confirm a {
  color: #5b91d4;
}

.fancybox-close-small:after {
    content: '×';
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    font: 35px/30px Arial,"Helvetica Neue",Helvetica,sans-serif!important;
    color: #fff!important;
    font-weight: normal!important;
    text-align: center!important;
    border-radius: 50%!important;
    border-width: 0!important;
    background: transparent!important;
    transition: background .25s;
    box-sizing: border-box;
    z-index: 2;
    margin-top: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 541px) {
  .confirm {
    text-align: left;
  }
  .required {
    line-height: 1.3!important;
    padding-top: 5px;
  }
}

@media screen and (max-width: 585px) {
  .about__caption {
    font-size: 17px;
  }
}
@media screen and (max-width: 585px) {
  .about__caption {
    font-size: 15px;
    letter-spacing: 0;
  }
}

@media screen and (max-width: 490px) {
  .about__caption {
    letter-spacing: -.5px;
  }
}


#review {
  padding: 0;
  max-width: 1024px;
}

.review-heading {
  margin-top: 0;
  border-radius: 0;
}
.review-form {
  margin: 20px 50px;
}

.fancybox-bg {
  background: #6a809c;
}

.agreement-text p {
  margin-bottom: 15px;
  font-size: 15px;
}

.file-add a {
  color: #5b91d4;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 8px;
}

.file-add a:hover {
  text-decoration: none;
}

.answer-img {
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
  margin-top: 7px;
  border: 2px solid #4381ce;
  border-radius: 8px;
}

.answer p {

}

.answer .news-date:after {
    left: 123px;
    content: '................................................................................................................';
}


